<footer class="footer container-fluid spacing-top">
    <div class="row">
        <div class="col-12 text-center social">
            <span>
                <a href="https://scholar.google.com/citations?user={{ site.googleacademy_userid }}" target="_blank">
                    <i class="fa fa-google"></i>
                </a>
                <a href="https://github.com/{{ site.github_username }}" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://codepen.io/{{ site.codepen_username }}" target="_blank">
                    <i class="fa fa-codepen"></i>
                </a>
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </span>
        </div>
    </div>
</footer>
