---
---

:root {
    //font-size: 1px;
}

$thickness: 1rem;
$dark-grey: #444;

body {
    font-family: 'Lato' !important;
    // font-size: 20rem !important;
    color: $dark-grey !important;

    a {
        display: inline-block !important;
        color: orangered;
        transition: .25s ease-in;
        height: 1.5rem;

        &::after {
            border-bottom: 2px solid transparent !important;
            content: '';
            margin: 0 auto;
            width: .5rem;
            transition: .25s ease-in;
        }

        &:hover {
            text-decoration: none !important;
            display: inline-block;

            &::after {
                content: '';
                display: block;
                margin: 0 auto;
                border-color: orangered !important;
                width: 100%;
            }
        }
    }
}

h2 {
    color: #fff !important;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #000;
}

.frontpage-top {
    height: 110vh;
    background-image: url('/static/frontpage-main-bg.jpg');
    background-size: cover;
}

.logo-row,
.slogan-row {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.slogan-row {
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #000;
    background-color: rgba(255, 255, 255, .3);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    letter-spacing: .1rem;
}

.story,
.contact {
    height: 33.3vw;
}

.aside {
    border: .5rem solid #fff;

    &.pic-container {
        padding-top: 15vw;
        background-color: lightcyan;
    }

    &.text-container {
        background-color: #f7f7f7;
        font-size: 1.3rem;
        padding: 10rem !important;
    }
}
