---
---

:root {
    font-size: 1px;
}

$thickness: 1rem;
$dark-grey: #444;

body {
    font-family: 'Lato' !important;
    font-size: 20rem !important;
    color: $dark-grey !important;

    a {
        display: inline-block !important;
        color: orangered;
        transition: .25s ease-in;
        height: 30rem;

        &::after {
            border-bottom: 2px solid transparent !important;
            content: '';
            margin: 0 auto;
            width: 10px;
            transition: .25s ease-in;
        }

        &:hover {
            text-decoration: none !important;
            display: inline-block;

            &::after {
                content: '';
                display: block;
                margin: 0 auto;
                border-color: orangered !important;
                width: 100%;
            }
        }
    }
}