---
---

// Basic metrics and colors
$thickness: 1rem;
$dark-grey: #444;
$blue: #5479a5;
$element-spacing: 1rem;
$spacing-color: #fff;

$large-font-size: 3rem;
$info-row-height: 22rem;

// Bootstrap breakpoints
$max_xs: 767px;
$min_sm: 768px;
$max_sm: 991px;
$min_md: 992px;
$max_md: 1199px;
$min_lg: 1200px;


body {
    font-family: 'Lato' !important;
    color: $dark-grey !important;

    a {
        color: $dark-grey;
        display: inline-block !important;
        height: 1.5rem;
        transition: .25s ease-in;

        &.underlined {

            &::after {
                border-bottom: 2px solid transparent !important;
                content: '';
                margin: 0 auto;
                width: .5rem;
                transition: .25s ease-in;
            }

            &:hover {
                text-decoration: none !important;
                display: inline-block;

                &::after {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    border-color: orangered !important;
                    width: 100%;
                }
            }
        }
    }
}

h1 {
    line-height: 3;
}

h2 {
    color: #fff !important;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #000;
}

.navbar-brand {
    padding-top: 0 !important;
    background: url('/static/vd-nav-logo.svg');
    background-size: cover;
    width: 18rem;
    height: 1.2rem;
}

.frontpage-top {
    height: 50rem;
    background-image: url('/static/frontpage-main-bg.jpg');
    background-size: cover;
}

.logo-row,
.slogan-row {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.slogan-row,
h2 {
    color: #fff;
    font-size: $large-font-size !important;
    text-shadow: 1px 1px 2px #000;
    background-color: rgba(255, 255, 255, .25);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    letter-spacing: .1rem;
    padding-top: $large-font-size;
    padding-bottom: $large-font-size;
}

.slogan-row h1 {
    line-height: 2;
}

.story,
.contact {
    height: $info-row-height;

    & .pic-container {
        background-size: cover !important;
        background-position: 50% 50% !important;
    }
}

.story .pic-container {
    background: url('/static/story-bg.svg');
}

.contact .pic-container {
    background: url('/static/contact-bg.svg');
}

.aside {
    border: $element-spacing / 2 solid $spacing-color;

    &.pic-container {
        padding-left: 0;
        padding-right: 0;
        padding-top: ( $info-row-height - 3.5 * $large-font-size) / 2;
        background-color: $blue;
    }

    &.text-container {
        background-color: #f7f7f7;
        font-size: 1.3rem;
        padding: $info-row-height / 7 $info-row-height / 3;
    }
}

.social {
    color: $dark-grey;
    font-size: 2rem;
    padding: 2rem !important;

    .fa {
        padding: 0 1rem;
    }
}


// Adding more space for basic elemets
.spacing-top {
    border-top: $element-spacing / 2 solid $spacing-color;
}

.more-spacing-right {
    border-right: $element-spacing solid $spacing-color;
}

.spacing-bottom {
    border-bottom: $element-spacing / 2 solid $spacing-color;
}

.more-spacing-left {
    border-left: $element-spacing solid $spacing-color;
}

input,
textarea {
    border-radius: 0 !important;
}

.btn-custom {
  background: #a1cbff;
  background-image: radial-gradient(at top center, #a1cbff 0%, #5479a5 100%);
  border-radius: 0;
  color: #fff;
  text-shadow: 1px 1px 2px #444;
  font-size: 1rem;
  padding: 5px 40px;
  border: 4px solid #7ca3d3;
  cursor: pointer;
  box-shadow: 0 10px 20px -3px #bbb;
  width: 100%;
  transition: .15s ease-in;

    &:hover {
        background: #5479a5;
        background-image: radial-gradient(at bottom center, #a1cbff 0%, #5479a5 100%);
        border: 4px solid rgba(124, 163, 211, .5);
        text-decoration: none;
        box-shadow: 0 8px 20px -3px #aaa;
    }
}

#status .alert,
#captcha-question {
    font-size: 1rem;
}

#status .alert {
    border: 4px solid transparent;
    border-radius: 0;
    padding: 5px 10px;
    text-align: center;
}

#captcha-question {
    line-height: 2.2;

    & #question {
        font-weight: 700;
    }
}

@media (max-width: $max-sm) {

    .story,
    .contact {
        height: auto;
    }

    .aside {
        display: block;
        height: 400px;
    }

    .text-container {
        padding: 2rem !important;
    }

    .more-spacing-right {
        border-right: $element-spacing / 2 solid $spacing-color;
    }

    .more-spacing-left {
        border-left: $element-spacing / 2 solid $spacing-color;
    }

    img.logo-chrome {
        width: 60%;
        height: auto;
    }
}