<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

        {% include header.html %}

        <main>
            <div class="container-fluid frontpage-top spacing-bottom">
                <div class="row logo-row text-center">
                    <div class="col-md-6 offset-md-3">
                        <img class="logo-chrome" src="/static/logo-chrome.svg" width="400" alt="V.D."/>
                    </div>
                </div>
                <div class="row slogan-row text-center">
                    <div class="col-sm-12">
                        {% if site.stage == 'production' %}
                            <h1>
                                FRONT END, DESIGN, POWER DRIVES,
                            <br>
                                ELECTRONICS AND OTHER ART
                            </h1>
                        {% else %}
                            <h1>SITE UNDER CONSTRUCTION</h1>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row story">
                    <div class="col-md-4 text-center aside pic-container more-spacing-left">
                        <h2>STORY</h2>
                    </div>
                    <div class="col-md-8 aside text-container more-spacing-right">
                        <h1 class="text-center">TEST TEXT</h1>
                        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum voluptate dolor aut praesentium illum ex provident similique veritatis tempore deleniti quisquam facilis, numquam harum rerum nam mollitia consectetur nostrum laboriosam.</span>
                    </div>
                </div>

                <div class="row contact">
                    <div class="col-md-8 aside text-container more-spacing-left">
                        <form action="https://getsimpleform.com/messages?form_api_token=53f0c43bb9a2fe95986315076deefc1c" method="post">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type='name' name='Name' class="form-control" required="required" placeholder="Your name" />
                                    </div>
                                    <div class="form-group">
                                        <input type='email' name='E-mail' class="form-control" placeholder="Your e-mail" />
                                    </div>
                                </div>

                                <div class="form-group col-6">
                                    <textarea class="form-control" rows="4" placeholder="More information"></textarea>
                                    <!-- <input type='text' name='Text' class="form-control" placeholder="More information" /> -->
                                </div>

                                <div class="form-group offset-md-9 col-md-3">
                                    <input type='submit' value='SUBMIT' class="btn btn-custom" />
                                </div>

                                <div class="form-group offset-md-6 col-md-6">
                                    <div class="g-recaptcha" data-sitekey="6Lf_7zwUAAAAABFIBcfY1QBuoJ7ORnd01yiLWf85"></div>
                                </div>
                                <input type='hidden' name='redirect_to' value='https://vushe.github.io' class="form-control" />
                            </form>
                        </div>

                    </div>
                    <div class="col-md-4 text-center aside pic-container more-spacing-right">
                        <h2>CONTACT</h2>
                    </div>
                </div>
            </div>

        </main>


        {% include footer.html %}
        {% include scripts.html %}

    </body>

</html>
